extends layout

block content
	.homepage-container
		.slideshow
			#slideshow
				.slide
					h2 Sharpen your skills and truly stand out!
					.slide-image
			// #slideshow
			
		.login-box
			.inner-padding
				img.logo(src='img/logo.png', height='239', alt='Logo')
				h3 Free & ready to go web chat room.
				p
					a#twitbutt.sb.sb-small.sb-twitter(href="/auth/twitter") 
						i 
						| Sign in with Twitter
					em or
					a#fbbutt.sb.sb-small.sb-facebook(href="/auth/facebook") 
						i
						| Sign in with facebook

		// #login-box 
	// .homepage-container
	
	footer
		| CodeKata.IO is an Angelhack project developed by Jason Goodwin, Bhavin Prajapati and Craig Mackenzie

	// JavaScript at the bottom for fast page loading 

